@charset "UTF-8";
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
li a{
    display: block;
    color: #000;
    text-align: center;
    padding: 3vh 3.2vh;
    text-decoration: none !important;
}

li a:hover{
    color: red;
}

#logo{
    width: 14vh;
    float: left;
    margin-left: 2vh;
}
#begin{
    margin-left: 0.5svh;
}
#logOut{
    width: 2.3vh;
}